__pycache__
*.pyc
*~
.idea
.ipynb_checkpoints
.DS_Store
*.mp4
*.demo
*.tar.gz
*.jobs
*.monitor.csv
.unison*
*.orig
*~master
*.old
*.gif
\#*\#
prof.out
*.png
*.ipynb
*.jobs
.vscode
*.egg-info
*.code-workspace
.pytest_cache
_results
nohup.out
